[submodule "public"]
	path = public
	url = git@github.com:ajubatus/ajubatus.github.io.git
	branch = master
[submodule "themes/hugo-coder"]
	path = themes/hugo-coder
	url = git@github.com:luizdepra/hugo-coder.git
